
.inbox{
        margin-left: 250px ;
        display: flex;
        justify-content: center;
        flex-direction: column;
}
.email-item{
    display: flex;
    justify-content: space-between;
   border-bottom:solid;
   margin-top: 3px;
}
.deleteBtn{
  background: red;
  color: white;
  border: none;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .dot.blue {
    background-color: blue;
  }
  
  .dot.white {
    background-color: rgb(215, 214, 214);
    border: 1px solid #1d1c1c; 
  }