.sent{
    margin-left: 250px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
   }


.email-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block; /* Ensure that the ellipsis is applied inline */
    width: 50%; 
}